$primary-color: #db7093;

.header{
    max-width: 1125px;
    max-height: 150px;
    height: 150px;
    margin: auto;
    
}
.content{
    max-width: 1125px;
    // max-height: 150px;
    // height: 150px;
    margin: auto;
    
}